# Files to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.env
*.sqlite3
db.sqlite3
.DS_Store
node_modules/
dist/
build/
*.log
.idea/
.vscode/
*.egg-info/
*.bak
*.swp
*.swo
*.tmp
*.cache
coverage/
*.cover
*.pid
*.seed
*.orig
*.rej
*.tar.gz
*.zip
*.tgz
*.rar
*.7z
*.out
*.class
*.jar
*.iml
*.db
*.pem
*.crt
*.key
*.secret
*.token
*.csv
*.tsv
*.xlsx
*.ipynb_checkpoints/